<div (click)="unselect.emit()">
  <div class="content all">
    <div>
      <table>
        <tr>
          <th>Owner</th>
          <td>{{wand?.owner}}</td>
        </tr>
        <tr>
          <th>Core</th>
          <td>{{wand?.core}}</td>
        </tr>
        <tr>
          <th>Wood</th>
          <td>{{wand?.wood}}</td>
        </tr>
        <tr>
          <th>Length</th>
          <td>{{wand?.length}}</td>
        </tr>
        <tr>
          <th>Flexibility</th>
          <td>{{wand?.flexibility}}</td>
        </tr>
      </table>
    </div>
  </div>
  <section class="wrapper all"></section>
</div>
